/* alles */

body {
  width: auto;
  margin: 0 auto;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#vogese {
  width: 100%;
}
nav {
  background-color: #333;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  border: 1% 0% 0% 0%;
}
.link {
    float: left;
    padding: 0px;
}
.link2 {
  padding: 0px;
}
.hyper {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 20px;
    text-decoration: none;
}
.hyper:hover {
  background-color: dimgray;
}
.link2 {
  display: block;
  color: black;
  padding: 7px 0px;
  text-decoration: none;
}
.link2:hover {
  color: -webkit-link;
}
#sidenav {
  padding: 1%;
  flex-basis: 12%;
  background-color: lightgray;
}
main {
  padding: 1%;
  background-color: white;
  flex-basis: 63%;
  display: flex;
  flex-wrap: wrap;
}
aside {
  padding: 0%;
  background-color: white;
  flex-basis: 21%;
}
#bever {
  width: 90%;
  padding-top: 30%;
}
#swiss {
  width: 90%;
  padding-top: 50%;
  padding-bottom: 10%;
}
.article {
  flex-basis: 48%;
  padding: 1%;
}
h2 {
  font-family: "arial", sans-serif;
  font-size: 20px;
}
h3 {
  font-family: "arial", sans-serif;
  font-size: 18px;
}
p {
  font-family: "arial", sans-serif;
  font-size: 18px;
}
li {
  font-family: "arial", sans-serif;
  font-size: 18px;
}
footer {
  padding: 3% 10% 3% 75%;
  color: white;
  background-color: #333;
}

/* home */

#belmont {
  width: 90%;
}
#outdoor {
  width: 90%;
}
#proud {
  width: 90%;
}
#laatjeuitdagen {
  width: 90%;
}

/* over mijn hobby */

#cdw {
  width: 18%;
  float: right;
  padding: 1% 5% 1% 1%;
}
#berg {
  width: 30%;
  float: right;
  padding: 1%;
}
#pad {
  width: 30%;
  float: left;
  padding: 1%;
}
#article {
  flex-basis: 90%;
}

/* nieuws1 */


#Labelterrein {
  width: 98%;
  padding: 1%;
}

/* nieuws2 */

#mensen {
  width: 30%;
  float: right;
}

/* nieuws3 */

#proudtobescout {
  width: 30%;
  float: right;
  padding-left: 1%;
}
#proudscout {
  width: 30%;
  float: left;
  padding-right: 1%;
}

/* nieuw4 */

#sire {
  width: 30%;
  float: right;
  padding: 1%;
}
#uitdagen {
  width: 30%;
  float: left;
  padding: 1% 0% 1% 1%;
}
